* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;

}

body {
    background-color: black;
    color: white;
}

html {
    scroll-behavior: smooth;
}

#home {
    width: 100%;
    height: 100vh;
    
}

.body {
    padding: 10px 10%;
}

.nav {
    display: flex;
    align-items: center;
    justify-content:space-between ;
    flex-wrap: wrap;
    padding: 10px 0px 5px;
}

.nav li a {
    text-decoration: none;
    color: white;
}

.button {
    display: inline-block;
    position: relative;
    list-style-type: none;
    margin-right: 4vw;
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
    letter-spacing: 2px;
    line-height: 1.4rem;

}

.button::after {
    content: '';
    width: 0%;
    height: 3px;
    background: #00ADB5;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

.button:hover::after {
    width: 100%;
    cursor: pointer;
}

.logo {
    width: 35px;
    height: 35px;
    position: relative;
    border-radius: 50%;
    background-color: #00ADB5;
    box-shadow: 0px 1px 20px #00ADB5;
    cursor: pointer;
}



.btn {
    background-color: #00ADB5;
    color: white;
    font-size: 1.1rem;
    border-radius: 35px;
    border: none;
    text-align: center;
    padding: 5px 15px;
    font-weight: 500;
    letter-spacing: 2px;
    box-shadow: 0px 0px 18px #00ADB5;
    transition: 0.5s;
}

.btn:hover {
    cursor: pointer;
    background-color: white;
    color: #00ADB5;
    box-shadow: none;
    text-decoration: none;
}



.intro {

    position: relative;
    top: 80px;
}

.text {
    position: relative;
    top: 15pc;
    color: #EEEEEE;
    ;
    font-size: 30px;
}

.text h1 {
    font-size: 80px;

}

.text h1 span {
    color: #00ADB5;
}

.home-icon {
    font-size: 34px;
    color: white;
    background-color: #00ADB5;
    border-radius: 50%;
    position: absolute;
    top: 95%;
    left: 50%;
    box-shadow: 0px 1px 15px #00ADB5;
}

.arrow:hover {
    cursor: pointer;
    color: black;
    background-color: white;
    box-shadow: 0px 0px 15px white
}

.resume-btn {
    position: absolute;
    top: 110%;
    padding: 10px 25px;
    font-size: 20px;
    font-weight: 700;

}



/* =============about=============== */


#about {
    padding-top: 30px;
    color: #8f97a2;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.about-col-1 {
    text-align: center;
}

.about-col-1 img {
    width: 250px;
    border-radius: 50%;
}

.about-col-1 p {

    font-size: 35px;

}

.about-col-2 p {

    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;
    word-spacing: 1px;
    text-align: justify;

}

.certi a{
    text-decoration: none;
    color: #8f97a2;
}


.sub-title {
    font-size: 50px;
    font-weight: 600;
    color: white;
}


.tab-links {

    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 500;
    position: relative;
    color: white;
    cursor: pointer;
    letter-spacing: 1px;
}

.tab-links::after {
    content: '';
    width: 100%;
    height: 3px;
    background-color: #00ADB5;
    position: absolute;
    left: 0%;
    bottom: -8px;
    transition: 00.5s;
}

.content {
    display: flex;
    justify-content: space-between;
    margin: 25px 0px;
}

.tab-contents ul li {
    list-style: none;
    margin: 10px 0;
}


.tab-contents ul li span {
    color: #00ADB5;
}

.tab-contents {
    
    border-radius: 10px;
    padding: 15px;
    background-color: #262626;
    width: 250px;
    min-width: 200px;
}

.about-icon {
    position: relative;
    left: 50%;
    font-size: 34px;
    color: white;
    background-color: #00ADB5;
    border-radius: 50%;
    box-shadow: 0px 1px 15px #00ADB5;
}









/* =================Work ================= */


#work {
    padding-top: 50px;
    padding-bottom: 20px;
}

.work-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 80px;
}

.work {
    box-shadow: 1px 3px 25px #00acb53b;
    width: 25%;
   
    padding: 15px;
    border-radius: 10px;
}

.work h3 {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 500;
    position: relative;
    color: white;
    cursor: pointer;
}

.work h3::after {
    content: '';
    width: 100%;
    height: 3px;
    background-color: #00ADB5;
    position: absolute;
    left: 0%;
    bottom: -8px;
    transition: 00.5s;
}

.work ul li {
    list-style-type: decimal;
    margin-top: 10px;
    margin-left: 10px;
    letter-spacing: 1px;
    transition: 0.5s;
}
.work ul li a{
    text-decoration: none;
    color: #8f97a2;
}
.work ul li a::after{
    content: '';
    width: 0%;
    height: 2px;
    background-color: #00ADB5;
    position: absolute;
    bottom: -5px;
    left: 0%;
    border-radius: 15px;
    transition: 0.5s;
}
.work ul li a:hover:after{
    width: 100%;
}
.work ul li:hover{
    transform: translateY(-3px);
    color: #00ADB5;

}
.animation {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 50px;
    justify-content: space-between;

}

.link {
    border-radius: 10px;
    position: relative;
    margin-right: 15px;

}

@keyframes animate {
    100% {
        transform: translate(-100%, 0);
    }
}

.link img {
    width: 300px;
    height: 230px;
    border-radius: 10px;
    transition: 0.5s;

}

.layer {
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(0, 0, 0, 0.6), #00ADB5);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    transition: 00.5s;
    color: white;
}

.layer h3 {
    font-weight: 700;
    margin-bottom: 20px;
}

.layer a {
    background-color: white;
    color: #00ADB5;
    padding: 5px;
    text-align: center;
    border-radius: 50%;
    width: 40px;
    height: auto;
    font-size: 15px;
    font-weight: 600;

}


.link:hover .layer {
    height: 100%;
}

.work-icon {
    position: relative;
    left: 50%;
    font-size: 34px;
    color: white;
    background-color: #00ADB5;
    border-radius: 50%;
    box-shadow: 0px 1px 15px #00ADB5;
}












/* ============================contact================= */


#contact {
    width: 100%;
    height: 101vh;
    margin-top: 5px;
    padding-top: 60px;
}

.contact-left {
    flex-basis: 35%;
    align-items: left;
}

.contact-right {
    flex-basis: 60%;
}

.contact-left p {
    margin-top: 30px;

}

.contact-left p ion-icon {
    position: relative;
    color: #00ADB5;
    font-size: 25px;
    margin: 0;
    top: 5px;

}

.social-icon {
    margin-top: 30px;
}

.social-icon a {
    text-decoration: none;
    font-size: 26px;
    margin-right: 15px;
    display: inline-block;
    color: #EEEEEE;
    transition: 00.5s;
}

.social-icon a:hover {
    color: #00ADB5;
    transform: translateY(-5px)
}

.form {
    margin-top: 60px;
    width: 100%;
}

.name,
.message,
.email {
    width: 100%;
    border: none;
    outline: none;
    background-color: #262626;
    padding: 15px;
    margin-top: 15px;
    color: #8f97a2;
    font-size: 18px;
}

button[type="submit"] {
    margin-top: 15px;
    padding: 5px 25px;
    cursor: pointer;


}

.footer {
    width: 100%;
    color: white;
    padding: 15px 0;
    background-color: #00ADB5;
    text-align: center;
    margin-top: 190px;
    font-size: 25px;
    font-weight: 800;
    letter-spacing: 1px;
    line-height: 1.4rem;
}







/* =================Css for smallscreen++++++++++++++++++++++++++++ */

.menu,
.close {
    display: none;
}

@media only screen and (max-width:800px) {

    #home {
        background: black;
    }

    .text {
        font-size: 28px;
    }

    .text h1 {
        font-size: 45px;
    }


    .menu,
    .close {
        display: block;
        font-size: 25px;
        cursor: pointer;
        background-color: #00ADB5;
        border-radius: 50%;
        padding: 5px;
        box-shadow: 0px 1px 15px #00ADB5;
    }

    nav ul {
        background-color: #00ADB5;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        display: block;
        z-index: 2;
        transition: 00.5s;
    }

    .down-btn {
        background-color: white;
        color: #00ADB5;
        margin-left: 15px;
    }

    nav ul li {
        display: block;
        margin: 25px;
    }

    #about-btn {
        display: block;
    }

    .close {
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
        background-color: #EEEEEE;
        color: #00ADB5;
        font-weight: 700;
        border-radius: 50%;
        padding: 5px;
        box-shadow: 0px 1px 15px #00ADB5;
    }

    .sub-title {
        font-size: 40px;
    }

    .content {
        flex-direction: column;
    }

    .tab-contents {
        width: 100%;
        margin-top: 15px;
    }

    .work-list {
        flex-direction: column;
    }

    .work-list div {
        width: 100%;
        margin-top: 15px;
        box-shadow: 0px 0px 5px #00ADB5;
    }

    .link img {
        width: 50%;
        height: 150px;
    }

    .contact-left,
    .contact-right {
        flex-basis: 100%;
        margin: 0;
    }


}

#msg{
    color: #61b752;
    margin-top: 15px;
    display: block;
}